body {
    padding:0;
    margin:0;
    background-color: #000000;
    position: relative;
    height: 100vh;
}

.card {
    background-image: url("lovely.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #ffffff;
    background-size: cover;
    width:300px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
}

.card .user-info img{
    border-radius: 50%;
}

.card .user-info h3{
    color: #ffffff;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.card .user-info p{
    color:#ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.lists {
    padding:10px;
}

.lists .list-item {
    background-color: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding:15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
}

.lists a {
    text-decoration: none;
    color: #000000;
}

.lists .list-item:hover{
    transform: scale(1.1);
}

.icons {
    display: flex;
    padding:10px;
    justify-content: space-around;
    margin-top: 30px;
    font-size: x-large;
}

.icons a {
    text-decoration: none;
    color: #ffffff;
    
}

.icons a:hover{
    transform: scale(1.2);
}

.email {
    padding:10px;
    margin-top: 20px;
}

.email a{
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: smaller;
    font-style: italic;
}

.email a:hover{
    font-size: small;
}


@media (hover: hover) and (pointer: fine) 
{
    .icons a:hover
    {
        transform: scale(1.2);
    }
}

@media (max-width: 450px) {

    .card {
        width: 100%;
        height: 120vh;
        
       
    }

    .user-info {
        margin-top: 100px;
    }

    html,body{
        overflow: hidden;
    }

}